* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  /* overflow-x: hidden; */
}

/* ---------------- */

.nav {
  background-color: #f2f7fc;
  width: 100%;
  height: 114px;
  padding: 0px 270px 0px 270px;
}

.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-searchbar {
  width: 590px;
  height: 61px;
  border-radius: 10px;
  background: #fff;
}

.nav-searchbar-input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 28px;
  border: none;
  font-family: "Source Serif 4";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-searchbar-input:focus {
  outline: none;
}

.nav-title {
  font-family: "Source Serif 4";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav-adminimage {
  width: 50px;
  height: 61.594px;
}

.nav-shoppingimage {
  width: 55px;
  height: 55.995px;
}

/* ----------- */

.main {
  width: 100%;
  height: 1794px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------ */

.main-promotion-section {
  width: 1246px;
  height: 508px;
  margin-top: 149px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-promotion-section-big {
  width: 1230px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #ddd outset;
  background: #f2f7fc;
}

.main-promotion-section-big-text {
  color: #000;
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-promotion-section-small-section {
  width: 100%;
  height: 138px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-promotion-section-small {
  width: 401px;
  height: 138px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #ddd outset;
  background: #f2f7fc;
}

.main-promotion-section-small-text {
  color: #000;
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ------------------- */

.main-categories-section {
  width: 1246px;
  height: 259px;
  margin-top: 68px;
}

.main-categories-section-title {
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 8px;
}

.main-categories-section-list {
  margin: 8px;
  display: flex;
  gap: 30px;
}

.main-categories-section-list-item {
  border-radius: 10px;
  border: 2px solid #ddd outset;
  width: 150px;
  height: 150px;
  background: #f2f7fc;
  display: flex;
  flex-direction: column;
}

.main-categories-section-list-item-image {
  width: 150px;
  height: 115px;
  border-radius: 10px;
}

.main-categories-section-list-item-title {
  width: 150px;
  height: 45px;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- */

.main-brands-section {
  width: 1076px;
  height: 362px;
  margin-top: 38px;
}

.main-brands-section-title {
  margin: 8px;
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-brands-section-list {
  margin: 8px;
  display: flex;
  gap: 20px;
}

.main-brands-section-list-item {
  width: 254px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  background: #f2f7fc;
}

.main-brands-section-list-item-image {
  width: 250px;
  height: 185px;
  border-radius: 10px;
}

.main-brands-section-list-item-title {
  width: 250px;
  height: 75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
}

/* -------------------------- */

.main-seenbefore-section {
  width: 1246px;
  height: 259px;
  margin-top: 68px;
}

.main-seenbefore-section-title {
  font-family: "Source Serif 4";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 8px;
}

.main-seenbefore-section-list {
  margin: 8px;
  display: flex;
  gap: 30px;
}

.main-seenbefore-section-list-item {
  border-radius: 10px;
  border: 2px solid #ddd outset;
  width: 150px;
  height: 150px;
  background: #f2f7fc;
  display: flex;
  flex-direction: column;
}

.main-seenbefore-section-list-item-image {
  width: 150px;
  height: 115px;
}

.main-seenbefore-section-list-item-title {
  width: 150px;
  height: 45px;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------- */

.footer {
  width: 100%;
  height: 214px;
  background-color: #f2f7fc;
}

.footer-div {
  width: 100%;
  height: 60px;
  background-color: #e3f1ff;
  position: relative;
  top: 100%;
}
